@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-hex: ;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground: white;
		--background-hex: #111111;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: var(--background-hex);
}